#title{
  background-color: #ff4c68;
  color: #fff;
}
body{
  /* font-family: "Montserrat"; */
  font-family: 'Montserrat-Black', 'sans-serif';

}

h3{
  font-family: 'Montserrat-Bold';
}

h2{
  /* font-family: 'Montserrat-bolder', 'sans-serif'; */
  line-height: 1.5;
  font-size: 3rem;
  font-family: 'Montserrat-Bold', sans-serif;
}
p{
  color: #8f8f8f;
  font-weight: bolder;
}


.H1{
  font-family: 'Montserrat-Black', 'sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
  /* color: Black; */
}

.navbar-nav{
  /* position: absolute; */
  margin-left: auto;

}
.container-fluid{
  padding: 3% 15% 7%;

}
/* Navigation Bar */

.navbar{
  padding: 0 0  4.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;

}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
  padding:0 2.5rem;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-img{
  width: 340px;
  transform: rotate(25deg);
  right: 24%;
  position: absolute;
}

/* Features */
#features{
  padding: 7% 17%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials */
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 17%;
}

/* Pricing */
#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  .title-img{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }


}

/* last part of the website */
#cta{
  background-color: #ff4c68;
  text-align: center;

  /* line-height: 1.5; */
  font-size: 3rem;

/* CTA SECTION ----------------------- */
}
.cta-1{
  margin: 0;

  padding-top: 44px;
  /* padding-bottom: 20px; */
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn-last{
  /* top:-58px; */
  top: 5%
  position: relative;
  /* padding-bottom: 10px; */
}
/* ------------------------------------- */
#footer{
  text-align:center;
  margin-top: 5%;
  background-color: #fff;
  padding: 7% 15%;

}
.icn{
  margin: 20px 10px ;
}
